﻿@using lab3.ViewModels
@using System.Linq;
@using laba3


<table>
    <thead>
    <tr>
        <th>.id</th>
        <th>.first_name</th>
        <th>.second_name</th>
        <th>.last_name</th>
        <th>.phone_number</th>
        <th>.city</th>
        <th>.street</th>
        <th>.house_number</th>
        <th>.cityCount</th>
    </tr>
    </thead>
    @foreach (var item in UserInfoVms)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.SecondName</td>
            <td>@item.LastName</td>
            <td>@item.PhoneNumber</td>
            <td>@item.City</td>
            <td>@item.Street</td>
            <td>@item.HouseNumber</td>
            <td>@item.CityCount</td>
        </tr>
    }
</table>

<div>
    @foreach (var item in UserCalls)
    {
        <h3>@item.FirstName - @item.LastName </h3>
        @if (item.Citys != null && item.Citys.Count() > 0)
        {
            <table>
                <thead>
                <tr>
                    <th>city</th>
                    <th>code</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item2 in item.Citys)
                {
                    <tr>
                        <td>item2.city</td>
                        <td>item2.code</td>
                    </tr>
                }

                </tbody>
            </table>
        }
        else
        {
            <h6>No data</h6>
        }
    }
</div>

@code {

    List<UserCallsVm> UserCalls = new List<UserCallsVm>();
    List<UserInfoVm> UserInfoVms = new List<UserInfoVm>();

    protected override async Task OnInitializedAsync()
    {
        using (var db = new DatabaseContext())
        {
            var usersInfoList = db.Persons.Select(user =>
                new
                {
                    user.id,
                    user.first_name,
                    user.second_name,
                    user.last_name,
                    user.phone_number,
                    user.address.city,
                    user.address.street,
                    user.address.house_number,
                    cityCount = user.calls.Select(x => x.city)
                        .Distinct()
                        .Count()
                });

            foreach (var user in usersInfoList)
            {
                var vm = new UserInfoVm()
                {
                    CityCount = user.cityCount,
                    City = user.city,
                    HouseNumber = user.house_number,
                    PhoneNumber = user.phone_number,
                    FirstName = user.first_name,
                    SecondName = user.second_name,
                    Id = user.id,
                    LastName = user.last_name,
                    Street = user.street
                };


                UserInfoVms.Add(vm);
            }
            var test = db.Persons.Select(user =>
                new
                {
                    user.last_name,
                    user.first_name,
                    citys = user.calls
                        .Select(call =>
                            call.city)
                        .Select(city => new UserCity() {City = city.city, Code = city.code})
                }
                );
            foreach (var user in test)
            {
                var vm = new UserCallsVm()
                {
                    FirstName = user.first_name,
                    LastName = user.last_name,
                    Citys = user.citys,
                };
                UserCalls.Add(vm);
            }
        }
    }

}