﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="MyComponent">
        @(await Html.RenderComponentAsync<Component>(RenderMode.ServerPrerendered))
    </div>
</div>